[submodule "D00"]
	path = D00
	url = git@github.com:Sylsee/D00.git
[submodule "D01"]
	path = D01
	url = git@github.com:Sylsee/D01.git
[submodule "D02"]
	path = D02
	url = git@github.com:Sylsee/D02.git
[submodule "D03"]
	path = D03
	url = git@github.com:Sylsee/D03.git
[submodule "D04"]
	path = D04
	url = git@github.com:Sylsee/D04.git
[submodule "D05"]
	path = D05
	url = git@github.com:Sylsee/D05.git
[submodule "D06"]
	path = D06
	url = git@github.com:Sylsee/D06.git
